@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

body {
  padding: 30px 0;
}

.App {
  text-align: center;
}

.title {
  font-family: "Rock Salt", cursive;
  font-size: 40px;
  color: #0ccac4;
}
